config ZMK_BEHAVIOR_MOD_HOLD
  bool
  default y
  depends on DT_HAS_ZMK_BEHAVIOR_MOD_HOLD_ENABLED

config ZMK_BEHAVIOR_NUMPAD
  bool
  default y
  depends on DT_HAS_ZMK_BEHAVIOR_NUMPAD_ENABLED
  select ZMK_HID_INDICATORS  # Needed by the behavior to be able
                             # to poll the state of numlock
