#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Timing is key
#define TAPPING_TERM       300
#define SHORT_TAPPING_TERM 150
#define QUICK_TAP          200

// Human-readable layer indexes
#define LAYER_MIRROR  1
#define LAYER_NAV     2
#define LAYER_NUM_PAD 3

// Shorthands
#define HRM_A &mhkp 0 A
#define HRM_S &hrm LGUI S
#define HRM_D &hrm LCTL D
#define HRM_F &hrm LALT F

#define PREV LA(LEFT)
#define NEXT LA(RIGHT)

#define EZ_SL(layer)    bsl   (layer) (layer)
#define EZ_SLMH(layer)  bslmh (layer) (layer)
#define EZ_SK(mod)      bsk   (mod) (mod)

&sl { ignore-modifiers; }; // keep one-shot-mods when chained into a one-shot-layer
&sk { quick-release; };    // must-have! (lots of false positives otherwise)

// add our common tap-hold parametesr to the default options
&mt {
  tapping-term-ms = <SHORT_TAPPING_TERM>;
  quick-tap-ms = <QUICK_TAP>;
};

&lt {
  tapping-term-ms = <TAPPING_TERM>;
  quick-tap-ms = <QUICK_TAP>;
};

/ {
  chosen {
    zmk,physical-layout = &physical_quaxe;
  };

  behaviors {
    hrm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      quick-tap-ms = <QUICK_TAP>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    sc: space_cadet { // same as lt, but with hold-preferred
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <SHORT_TAPPING_TERM>;
      quick-tap-ms = <QUICK_TAP>;
      flavor = "hold-preferred";
      bindings = <&mo>, <&kp>;
    };
    // like ZMK's sticky layer (sl) but with a more robust timing
    osl: one_shot_layer {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&macro_param_1to1>, <&macro_tap &sl MACRO_PLACEHOLDER>;
    };
    bsl: better_sticky_layer {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&osl>;
    };
    // like ZMK's sticky key (sk) but with a more robust timing
    osm: one_shot_modifier {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&macro_param_1to1>, <&macro_tap &sk MACRO_PLACEHOLDER>;
    };
    bsk: better_sticky_key {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&osm>;
    };

    // mod-holds
    bslmh: better_sticky_layer_with_held_mods {
      compatible = "zmk,behavior-mod-hold";
      #binding-cells = <2>;
      binding = <&bsl>;
      mods-to-hold = <0xff>;  // every possible modifier
    };

    mhmt: mod_tap_with_held_mods {
      compatible = "zmk,behavior-mod-hold";
      #binding-cells = <2>;
      binding = <&mt>;
      mods-to-hold = <0xff>;
    };

    mhsc: space_cadet_with_held_mods {
      compatible = "zmk,behavior-mod-hold";
      #binding-cells = <2>;
      binding = <&sc>;
      mods-to-hold = <0xff>;
    };

    mh: raw_mod_hold {
      compatible = "zmk,behavior-mod-hold";
      #binding-cells = <2>;
      binding = <&none>;
      mods-to-hold = <0xff>;
    };

    mhkp: hrm_with_raw_mh_on_hold {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      quick-tap-ms = <QUICK_TAP>;
      flavor = "tap-preferred";
      bindings = <&mh>, <&kp>;
    };

    // Mod-monphs
    tab_mir_sym: tab_mir_sym {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp TAB>, <&EZ_SLMH(LAYER_MIRROR)>;
      mods      = <MOD_RALT>;
      keep-mods = <MOD_RALT>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer: base_layer {
      display-name = "Base";
      bindings = <
        &none &kp GRAVE    &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp C_MUTE
        &none &tab_mir_sym &kp Q  &kp W  &kp E  &kp R  &kp T  &kp C_VOL_UP
        &none &kp NUBS     HRM_A  HRM_S  HRM_D  HRM_F  &kp G  &kp C_VOL_DN
        &none              &kp Z  &kp X  &kp C  &kp V  &kp B
        &none &mhsc LAYER_NUM_PAD CAPS &mhmt RALT ESC &mhmt LSFT BSPC &mhsc LAYER_MIRROR SPC &mhsc LAYER_NAV ENTER
      >;
    };

    mirror_layer: mirror_layer {
      display-name = "Mirror";
      bindings = <
        &trans &kp MINUS    &kp N0   &kp N9  &kp N8    &kp N7 &kp N6 &kp DEL
        &trans &EZ_SK(LSFT) &kp P    &kp O   &kp I     &kp U  &kp Y  &kp C_BRI_UP
        &trans &kp SQT      &kp SEMI &kp L   &kp K     &kp J  &kp H  &kp C_BRI_DN
        &trans              &kp FSLH &kp DOT &kp COMMA &kp M  &kp N
        &trans                      &trans &trans &trans &trans &trans
      >;
    };

    navigation_layer: navigation_layer {
      display-name = "Navigation";
      bindings = <
        &trans &trans         &kp F1   &kp F2   &kp F3   &kp F4    &kp F5    &kp C_PP
        &trans &studio_unlock &kp NEXT &kp HOME &kp UP   &kp END   &kp PG_UP &kp C_NEXT
        &trans &trans         &kp PREV &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp C_PREV
        &trans                &trans   &trans   &trans   &trans    &trans
        &trans                &trans   &trans   &trans   &trans    &trans
      >;
    };

    num_pad_layer: num_pad_layer {
      display-name = "NumPad";
      bindings = <
        &trans &kp F11      &kp F10      &kp F9    &kp F8    &kp F7    &kp F6       &trans
        &trans &kp C_BRI_UP &kp KP_SLASH &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_NUM   &trans
        &trans &kp C_BRI_DN &kp KP_N0    &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_MINUS &trans
        &trans              &kp KP_DOT   &kp KP_N1 &kp KP_N2 &kp KP_N3 &trans
        &trans              &trans       &trans    &trans    &trans    &trans
      >;
    };

    callum_mods: callum_mods {
      display-name = "callum_mods";
      bindings = <
        &trans &trans &trans    &trans    &trans    &trans    &trans &trans
        &trans &trans &trans    &trans    &trans    &trans    &trans &trans
        &trans &trans &osl LSFT &osl LGUI &osl LCTL &osl LALT &trans &trans
        &trans        &trans    &trans    &trans    &trans    &trans
        &trans            &trans &trans &trans &trans &trans
      >;
    };

    empty: empty {
      display-name = "empty";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans
        &trans        &trans &trans &trans &trans &trans
        &trans            &trans &trans &trans &trans &trans
      >;
    };
  };
};
